<div class="row">
    {{#each notes}}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/notes/edit/{{_id}}" class="btn btn-primary">Edit</a>
                </h4>
                <p class="text-primary">{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm d-block w-100">
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>