<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST"> <!--Voy a enviar los datos a la direccion /users/signup -->
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" name="name" value="{{name}}">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Email" name="email" value="{{email}}">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" value="{{password}}">
                    </div>

                    <div class="mb-3">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="confirm_password" value="{{confirm_password}}">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Singup</button>
                </form>
            </div>
        </div>
    </div>
</div>