<div class="container mt-4 bg-light">
   <h1 class="display-4">Notes App Node js and Mongo</h1>
   <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, aspernatur.</p>
   <hr class="my-4">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, nam!</p>
   <a href="https://www.faztweb.com" class="btn btn-primary mb-2">Ir a</a>
</div>