/*Game Container*/
.game-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

/*0C0D0E
15181c
0B0C0D
#2a2f32
*/

/*Game mid */
.game-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.game-list-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    height: 100%;    
}

.game-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70%;

}

.game-mid-buttons-dice-turn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 25%;
    height: 100%;
}

.game-mid-dice-turn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

.dice {
    color: white;

}

.turn {
    color: white;
}

.game-mid-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.dice-end {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.accuse-suspect {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    width: 90%;
    height: 70%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cards img {
    width: 30%;
    height: 30%;
}


.list-player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}





















